:root {
  --navyblue: #2e2f42;
  --slate: #434455;
  --iris: #4d5ae5;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  background: #ffffff;
}

.header {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 133%;
  text-decoration: none;
  padding-left: 156px;
  color: #4d5ae5;
  text-transform: uppercase;
}

.header-logopart {
  margin-top: 24px;
  width: 71px;
  height: 24px;

  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 133%;

  color: var(--navyblue);
}

.header-navigation {
  display: flex;
  padding-left: 77px;
  text-align: center;
}

.header-navigation-item {
  display: inline-block;
  text-align: center;
  margin-right: 40px;
}

.header-navigation-last-item {
  margin-right: 0;
}

.header-navigation-page {
  font-weight: 600;

  text-decoration: none;

  letter-spacing: 0.02em;

  color: var(--navyblue);
}

.header-navigation-page:hover {
  color: #4d5ae5;
}

.header-contacts {
  margin-top: 24px;
  margin-bottom: 24px;
  text-align: right;
  margin-right: 156px;
}

.header-contacts-item {
  height: 24px;
  margin-right: 40px;

  text-decoration: none;

  letter-spacing: 0.02em;

  color: var(--slate);
}

.header-contacts-item:hover {
  color: #4d5ae5;
}

.section {
  background-color: var(--navyblue);
}

.section-caption {
  padding: 192px 474px 291px;
  font-weight: 600;
  font-size: 56px;
  line-height: 107%;

  text-align: center;
  letter-spacing: 0.02em;

  color: #ffffff;
}

.section-button {
  padding: 16px 32px;
  margin: 0 auto;
  margin-bottom: 192px;
  display: block;
  margin-top: 48px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  border: none;

  color: #ffffff;
  font-weight: 600;
}

.section-button:hover {
  background: #f4f4fd;

  border: 1px solid #e7e9fc;
  border-radius: 4px;
  color: #4d5ae5;
  cursor: pointer;
}

.description-paragraphs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 156px;
  padding-right: 156px;
}

.description-texts {
  list-style-type: none;
  margin-right: 24px;
}

.description-header {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.description-information {
  width: 264px;
  height: 72px;

  letter-spacing: 0.02em;

  color: var(--slate);
}

.example-header {
  position: relative;
  width: 322px;
  height: 40px;
  margin-left: 559px;
  margin-top: 120px;

  font-weight: 600;
  font-size: 36px;
  line-height: 111%;

  text-align: center;
  letter-spacing: 0.02em;

  color: var(--navyblue);
}

.examples-photos {
  margin-left: 156px;
  margin-top: 72px;
  margin-bottom: 120px;
}

.examples-items {
  display: inline-block;
  text-align: left;
  margin-right: 24px;
}

.team {
  position: relative;
  width: 100%;
  height: 732px;

  background: #f4f4fd;
}

.team-caption {
  padding-top: 120px;
  height: 40px;

  font-weight: 600;
  font-size: 36px;
  line-height: 111%;

  text-align: center;
  letter-spacing: 0.02em;

  color: var(--navyblue);
}

.team-members {
  margin-left: 156px;
  margin-top: 112px;
}

.team-member {
  display: inline-block;
  text-align: center;
  margin-right: 24px;
  background: #ffffff;
  width: 264px;
  height: 380px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-member-name {
  font-weight: 600;
  font-size: 20px;

  color: var(--navyblue);
}

.team-member-job {
  color: var(--slate);
}

.footer {
  padding-top: 100px;
  background-color: var(--navyblue);
}

.footer-logo {
  text-transform: uppercase;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 133%;
  text-decoration: none;
  margin-left: 156px;
  color: var(--iris);
}

.footer-logo-part {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 133%;

  color: #f4f4fd;
}

.footer-logo-text {
  margin-top: 16px;
  margin-left: 156px;
  width: 264px;
  padding-bottom: 100px;

  letter-spacing: 0.02em;

  color: #e7e9fc;
}
